In [1]:
import pandas as pd
import numpy as np
import pyxlsb

In [2]:
data = pd.read_excel('stc TV Data Set_T3.xlsb',index_col=0)

In [3]:
data.shape

(1048575, 5)

In [4]:
data.head()

   user_id_maped          program_name  rating      date_ program_genre
0          26138            100 treets       1 2017-05-27         Drama
1           7946                 Moana       1 2017-05-21     Animation
2           7418  The Mermaid Princess       1 2017-08-10     Animation
3          19307  The Mermaid Princess       2 2017-07-26     Animation
4          15860             Churchill       2 2017-07-07     Biography

In [7]:
data.describe(exclude=(object, 'datetime64[ns]'))

       user_id_maped        rating
count   1.048575e+06  1.048575e+06
mean    1.709266e+04  2.497283e+00
std     1.003513e+04  1.119837e+00
min     1.000000e+00  1.000000e+00
25%     8.253000e+03  1.000000e+00
50%     1.714900e+04  2.000000e+00
75%     2.566500e+04  3.000000e+00
max     3.428000e+04  4.000000e+00

In [6]:
data.isnull().sum()

user_id_maped    0
program_name     0
rating           0
date_            0
program_genre    0
dtype: int64

In [8]:
# Pair-wise table for user rating for all movies
movie_features_df=data.pivot_table(index='program_name',columns='user_id_maped',values='rating').fillna(0)
movie_features_df.head()

user_id_maped,1,5,9,11,15,17,20,26,28,30,...,34259,34261,34263,34265,34267,34269,34271,34273,34277,34280
program_name,,,,,,,,,,,,,,,,,,,,,
#FollowFriday,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10 Days in a Madhouse,0.0,0.0,0.0,0.0,1.5,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
100 treets,0.0,0.0,0.0,1.0,2.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
101 Dalmatians,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
102 Dalmatians,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [9]:
from scipy.sparse import csr_matrix
from sklearn.neighbors import NearestNeighbors

In [10]:

movie_features_df_matrix = csr_matrix(movie_features_df.values)

In [11]:
model_knn = NearestNeighbors(metric = 'cosine', algorithm = 'brute')

In [12]:
model_knn.fit(movie_features_df_matrix)

NearestNeighbors(algorithm='brute', metric='cosine')

In [15]:
movie_features_df_selection = movie_features_df.reset_index()
movie_features_df_selection[['program_name']]
data[['program_name']].head(10)

                      program_name
0                       100 treets
1                            Moana
2             The Mermaid Princess
3             The Mermaid Princess
4                        Churchill
5  Beavis And Butt-Head Do America
6             The Mermaid Princess
7                             Coco
8                           Kidnap
9                   The Accountant

In [24]:
program_name = film_name

NameError: name 'film_name' is not defined

In [43]:
def recommend_Films(film_name):
    program_name = film_name
    recomendations=20

    query_index = np.random.choice(movie_features_df.shape[0])
    distances, indices = model_knn.kneighbors(movie_features_df.
                        iloc[movie_features_df_selection.index[movie_features_df_selection['program_name'] == program_name].tolist()[0],:].values.reshape(1, -1),
    n_neighbors = recomendations+1)

    for i in range(0, len(distances.flatten())):
        if i == 0:
            print('Recommendations for {0}:\n'.format(movie_features_df.index[movie_features_df_selection.index[movie_features_df_selection['program_name'] == program_name].tolist()[0]]))
        else:
            print('{0}: {1}, with distance of {2}:'.format(i, movie_features_df.index[indices.flatten()[i]], distances.flatten()[i]))

In [45]:
recommend_Films('Titanic')

Recommendations for Titanic:

1: Concussion, with distance of 0.7492759948857238:
2: The Fault in Our tars, with distance of 0.7572220689070289:
3: Brooklyn, with distance of 0.7660837908339793:
4: J. Edgar, with distance of 0.7674607826480053:
5: Anesthesia, with distance of 0.7681489736136026:
6: The Counselor, with distance of 0.7839328599972051:
7: Joy, with distance of 0.7871536796395268:
8: 21 Jump treet, with distance of 0.7880485421771288:
9: Sea of Trees, with distance of 0.7946388346326088:
10: Gone Girl, with distance of 0.8021058956835914:
11: The Trial, with distance of 0.8120407883705535:
12: Zodiac, with distance of 0.8150796206113193:
13: The earch, with distance of 0.8204022869362002:
14: Lost, with distance of 0.8301773668689544:
15: Blood Diamond, with distance of 0.834260496032297:
16: Testament of Youth, with distance of 0.8369122511566335:
17: The Dressmaker, with distance of 0.8395326949089625:
18: G.I. Joe: Retaliation, with distance of 0.8400438903442395:
19: Sehhee Wa aree    Ep.2, with distance of 0.8449738550986703:
20: Devil's Due, with distance of 0.8469634659236984: